@import 'utils/config', 'utils/utils';

body {
  .container {
     margin: 0;
     background: darkgray;
     overflow: hidden;
     text-align: center;
  
     width: 100vw;
     height: 100vh;
  }
  #myCanvas {
     position: absolute;
     background: lightgray;
     @extend %center-object;
  }
}
